@using Behapy.Presentation.Extensions
@model Behapy.Presentation.Models.Promotion

@{
  ViewData["Title"] = "Details";
  Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Details</h1>

<div>
  <h4>Promotion</h4>
  <hr/>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Value)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Value)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Unit)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Unit)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Voucher)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Voucher)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.MaxDiscount)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.MaxDiscount)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.EndAt)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.EndAt)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.StartAt)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.StartAt)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Type.GetName())
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>