@using Behapy.Presentation.Models
@using Behapy.Presentation.Enums
@using Behapy.Presentation.Extensions
@model List<Behapy.Presentation.Models.Promotion>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/Admin/_Layout.cshtml";

  var pager = new Pager();
  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
  }
}

<!-- Content Wrapper START -->
<div class="main-content">
  <div class="page-header">
    <h2 class="header-title">Khuyến mãi</h2>
    <div class="header-sub-title">
      <nav class="breadcrumb breadcrumb-dash">
        <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
        <span class="breadcrumb-item active" href="#">Khuyến mãi</span>
      </nav>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row m-b-30">
        <div class="col-6"></div>
        <div class="col-6 text-right">
          <a class="btn btn-primary" asp-action="Create">
            <i class="anticon anticon-plus-circle m-r-5"></i>
            <span>Thêm khuyến mãi</span>
          </a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover e-commerce-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên chương trình</th>
              <th>Giá trị</th>
              <th>Giảm tối đa</th>
              <th>Giá trị đơn tối thiểu</th>
              <th>Thời gian</th>
              <th>Loại</th>
              <th>Ghi chú</th>
            </tr>
          </thead>

          <tbody>
            @foreach (var item in Model)
            {
              <tr onclick="location.href='@Url.Action("Edit", "Promotions", new { id = item.Id })'"
                  style="cursor: pointer">
                <td>#@item.Id </td>
                <td>@item.Name</td>
                <td>
                  @if (item.Unit == PromotionUnit.Percentage)
                  {
                    <span>@item.Value%</span>
                  }
                  else
                  {
                    <span>@item.Value.ToMoney() VNĐ</span>
                  }
                </td>
                <td>@item.MaxDiscount?.ToMoney()</td>
                <td>@item.MinOrderValue?.ToMoney()</td>
                <td>
                  @item.StartAt.Date.ToString("dd/MM/yyyy hh:mm:ss") -
                  @item.EndAt.Date.ToString("dd/MM/yyyy hh:mm:ss")
                </td>
                <td>@item.Type.GetName()</td>
                <td>
                  @if (DateTime.Now > item.EndAt)
                  {
                    <span class="text-error">Đã kết thúc</span>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="pagination-area pt-10">
    <nav aria-label="Page navigation example">
      @if (pager.TotalPages > 0)
      {
        <ul class="pagination justify-content-center">
          @if (pager.CurrentPage > 1)
          {
            <li class="page-item">
              <a asp-action="Index" asp-route-pg="1"
                 asp-route-categoryId="@ViewData["Category"]"
                 class="page-link">
                Đầu
              </a>
            </li>
            <li class="page-item">
              <a asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)"
                 asp-route-categoryId="@ViewData["Category"]" aria-label="Trước" class="page-link">
                <span class="fa fa-chevron-left"></span>
              </a>
            </li>
          }

          @for (var p = pager.StartPage; p <= pager.EndPage; p++)
          {
            <li class="page-item @(p == pager.CurrentPage ? "active" : "")">
              @{ var pge = p; }
              <a asp-action="Index" asp-route-pg="@pge"
                 asp-route-categoryId="@ViewData["Category"]" class="page-link">
                @pge
              </a>
            </li>
          }

          @if (pager.CurrentPage < pager.TotalPages)
          {
            <li class="page-item">
              <a class="page-link" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)"
                 asp-route-categoryId="@ViewData["Category"]" aria-label="Previous">
                <span class="fa fa-chevron-right"></span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" asp-action="Index" asp-route-pg="@pager.EndPage"
                 asp-route-categoryId="@ViewData["Category"]">
                Cuối
              </a>
            </li>
          }
        </ul>
      }
    </nav>
  </div>
  <!-- Pagination end -->

</div>
<!-- Content Wrapper END -->