@model Behapy.Presentation.Models.Distributor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Đối tác</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
                <span class="breadcrumb-item active" href="#">Chi tiết đối tác</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thông tin cơ bản</h4>
        </div>
        <div class="card-body">
            <div class="media align-items-center">
               @* <div class="avatar avatar-image m-h-10 m-r-15"
                     style="height: 80px; width: 80px">
                    <img src="@Model.User.ImageUrl" alt="" />
                </div>*@
                <div class="m-l-20 m-r-20">
                    <h5 class="m-b-5 font-size-18">@Model.FullName</h5>
                    <p class="opacity-07 font-size-13 m-b-0">
                        Phân loại: @Model.DistributorLevel.Name
                    </p>
                </div>
                <div class="text-right">
                    <button class="btn btn-tone btn-primary">
                        Thông tin đơn hàng
                    </button>
                </div>
            </div>
            <hr class="m-v-25" />
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" for="userName">Họ và tên:</label>
                        <input type="text"
                                disabled
                               class="form-control"
                               id="userName"
                               placeholder="Họ và tên"
                               value="@Model.FullName" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" for="userName">Số điện thoại:</label>
                        <input type="text"
                               disabled
                               class="form-control"
                               id="userName"
                               placeholder="Số điện thoại"
                               value="" />
                    </div>

                </div>
            </form>
        </div>
    </div>
   
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Chi tiết địa chỉ</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="font-weight-semibold"
                               for="fullAddress">Địa chỉ:</label>
                        <input type="text"
                               disabled
                               class="form-control"
                               id="fullAddress"
                               placeholder="Địa chỉ"
                               value="@Model.Address" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
