@using Behapy.Presentation.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Behapy.Presentation.Constants
@model Behapy.Presentation.Models.Order

@{
  ViewData["Title"] = "AdminDetails";
  Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="main-content">
  <div class="page-header">
    <h2 class="header-title">Chi tiết đơn hàng</h2>
    <div class="header-sub-title">
      <nav class="breadcrumb breadcrumb-dash">
        <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
        <a class="breadcrumb-item" asp-controller="Orders" asp-action="Admin">Đơn hàng</a>
        <span class="breadcrumb-item active">Chi tiết đơn hàng</span>
      </nav>
    </div>
  </div>

  <div class="m-t-15">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          @switch (Model.CurrentStatus)
          {
            case OrderStatusConstant.NeedToConfirm:
              <button data-toggle="modal" data-target="#confirmModal" class="btn btn-success">
                Xác nhận
              </button>
              <button data-toggle="modal" data-target="#denyModal" class="btn btn-danger ml-2">
                Từ chối
              </button>
              break;
            case OrderStatusConstant.Confirmed:
              <button data-toggle="modal" data-target="#deliveringModal" class="btn btn-success">
                Chuyển trạng thái sang "@OrderStatusConstant.Delivering"
              </button>
              break;
            case OrderStatusConstant.Delivering:
              <button data-toggle="modal" data-target="#deliveredModal" class="btn btn-success">
                Giao hàng thành công
              </button>
              <button data-toggle="modal" data-target="#deliverFailedModal" class="btn btn-danger ml-2">
                Giao hàng thất bại
              </button>
              break;
          }
          <button class="btn btn-tone btn-primary ml-2" onclick="exportExcel()">
            <i class="anticon anticon-file-excel m-r-5"></i>
            <span>Xuất hóa đơn</span>
          </button>
        </div>
        <!-- Customer -->
        @if (Model.Customer != null)
        {
          <div class="form-group">
            <label for="Customer" class="font-weight-semibold">Khách hàng</label>
            <input class="form-control" type="text" id="Customer" name="Customer" value="@Model.Customer.User.FullName"
                   readonly>
          </div>
        }

        <!-- Distributor -->
        @if (Model.Distributor != null)
        {
          <div class="form-group">
            <label for="Distributor" class="font-weight-semibold">Nhà phân phối</label>
            <input class="form-control" type="text" id="Distributor" name="Distributor"
                   value="@Model.Distributor.FullName" readonly>
          </div>
        }

        <!-- Address -->
        <div class="form-group">
          <label asp-for="Address" class="font-weight-semibold"></label>
          <input class="form-control" type="text" id="Address" name="Address" value="@Model.Address" readonly>
        </div>

        <!-- CurrentStatus -->
        <div class="form-group">
          <label asp-for="CurrentStatus" class="font-weight-semibold"></label>
          <input class="form-control" type="text" id="CurrentStatus" name="CurrentStatus" value="@Model.CurrentStatus"
                 readonly>
        </div>

        <!-- Discount -->
        <div class="form-group">
          <label asp-for="Discount" class="font-weight-semibold"></label>
          <input class="form-control" type="text" id="Discount" name="Discount" value="@Model.Discount" readonly>
        </div>

        <!-- PaymentType -->
        <div class="form-group">
          <label for="PaymentType" class="font-weight-semibold">Hình thức thanh toán</label>
          <input class="form-control" type="text" id="PaymentType" name="PaymentType" value="@Model.PaymentType?.Name"
                 readonly>
        </div>

        <!-- CreateAt -->
        <div class="form-group">
          <label asp-for="CreateAt" class="font-weight-semibold"></label>
          <input class="form-control" type="text" id="CreateAt" name="CreateAt"
                 value="@Model.CreateAt.ToString("dd/MM/yyyy hh:mm:ss")" readonly>
        </div>

        <!-- CancelledAt -->
        @if (Model.CancelledAt != null)
        {
          <div class="form-group">
            <label asp-for="CancelledAt" class="font-weight-semibold"></label>
            <input class="form-control" type="text" id="CancelledAt" name="DiscountCancelledAt"
                   value="@Model.CancelledAt.Value.ToString("dd/MM/yyyy hh:mm:ss")" readonly>
          </div>
        }

        <!-- Note -->
        <div class="form-group">
          <label asp-for="Note" class="font-weight-semibold"></label>
          <input class="form-control" type="text" id="Note" name="Note" value="@Model.Note" readonly>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
                <th scope="col">Tổng tiền</th>
              </tr>
            </thead>
            <tbody>
              @for (var i = 0; i < Model.OrderDetails.Count; i++)
              {
                var item = Model.OrderDetails[i];

                <tr>
                  <th scope="row">@(i + 1)</th>
                  <td>
                    <img class="img-fluid rounded" src="@item.Product.ImageUrl" style="max-width: 60px"
                         alt="@item.Product.Name"/>
                    <span class="m-b-0 m-l-10">
                      <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId">
                        @item.Product.Name
                      </a>
                    </span>
                  </td>
                  <td>@item.Amount</td>
                  <td>@item.Price.ToMoney()</td>
                  <td>@((item.Price * item.Amount).ToMoney())</td>
                </tr>
              }
              <tr>
                <th scope="row" colspan="4">Tổng tiền hóa đơn</th>
                <td>@Model.TotalMoney.ToMoney()</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        Đơn hàng #@Model.Id sẽ được chuyển sang trạng thái "@OrderStatusConstant.Confirmed"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button onclick="updateStatus('@OrderStatusConstant.Confirmed')" class="confirm-order btn btn-tone btn-success">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Modal End -->

<!-- Deny Modal -->
<div class="modal fade" id="denyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Từ chối đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        Đơn hàng #@Model.Id sẽ được chuyển sang trạng thái "@OrderStatusConstant.Denied"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button onclick="updateStatus('@OrderStatusConstant.Denied')" class="deny-order btn btn-tone btn-danger">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Deny Modal End -->

<!-- Delivering Modal -->
<div class="modal fade" id="deliveringModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Từ chối đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        Đơn hàng #@Model.Id sẽ được chuyển sang trạng thái "@OrderStatusConstant.Delivering"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button onclick="updateStatus('@OrderStatusConstant.Delivering')" class="deny-order btn btn-tone btn-success">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delivering Modal End -->

<!-- Delivering Modal -->
<div class="modal fade" id="deliveredModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Giao hàng thành công</h5>
        <button type="button" class="close" data-dismiss="modal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        Đơn hàng #@Model.Id sẽ được chuyển sang trạng thái "@OrderStatusConstant.Delivered"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button onclick="updateStatus('@OrderStatusConstant.Delivered')" class="deny-order btn btn-tone btn-success">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delivering Modal End -->

<!-- Delivering Modal -->
<div class="modal fade" id="deliverFailedModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Giao hàng thất bại</h5>
        <button type="button" class="close" data-dismiss="modal">
          <i class="anticon anticon-close"></i>
        </button>
      </div>
      <div class="modal-body">
        Đơn hàng #@Model.Id sẽ được chuyển sang trạng thái "@OrderStatusConstant.DeliverFailed"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button onclick="updateStatus(@OrderStatusConstant.DeliverFailed)" class="deny-order btn btn-tone btn-danger">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delivering Modal End -->

<script>
    function exportExcel() {
        const orderId = @Model.Id;

        // Tạo một form ẩn để gửi dữ liệu
        const form = document.createElement('form');
        form.method = 'post';
        form.action = '@Url.Action("ExportOrderToExcel", "Orders")'; 

        // Tạo một input ẩn để chứa OrderId
        const orderIdInput = document.createElement('input');
        orderIdInput.type = 'hidden';
        orderIdInput.name = 'orderId';
        orderIdInput.value = orderId;

        // Thêm input vào form
        form.appendChild(orderIdInput);

        // Thêm form vào body và submit nó
        document.body.appendChild(form);
        form.submit();

        // Xóa form sau khi đã submit
        document.body.removeChild(form);
    }
    
    function updateStatus(status) {
        $.ajax({
            url: '/Orders/UpdateStatus',
            method: 'POST',
            data: { id: @Model.Id, status },
            success: function () {
                document.location.reload();
            },
            error: function (xhr) {
                $('#confirmModal').modal('hide');
                bootstrap.showToast({
                    body: xhr.responseText,
                    zIndex: 999
                });
            },
        });
    }
</script>