@using Behapy.Presentation.Extensions
@model List<Behapy.Presentation.Models.CartItem>?

<div class="offcanvas-minicart_wrapper" id="miniCart">
  <div class="harmic-offcanvas-body">

    @if (Model != null)
    {
      <div class="minicart-content">
        <div class="minicart-heading">
          <h4 class="mb-0">Giỏ hàng</h4>
          <a href="#" class="button-close">
            <i class="pe-7s-close"></i>
          </a>
        </div>

        <ul class="minicart-list">
          @foreach (var item in Model)
          {
            <li class="minicart-product">
              <a onclick="removeFromCart(@item.ProductId)" class="product-item_remove">
                <i class="pe-7s-close"></i>
              </a>
              <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId" class="product-item_img">
                <img class="img-full" src="@item.Product.ImageUrl" alt="@item.Product.Name"/>
              </a>
              <div class="product-item_content">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId" class="product-item_title">@item.Product.Name</a>
                <span class="product-item_quantity">@item.Amount x @item.Product.Price.ToMoney()</span>
              </div>
            </li>
          }
        </ul>
      </div>

      <div class="minicart-item_total">
        <span>Tổng cộng</span>
        <span id="mini-cart-total" class="amount">@Model.Sum(item => item.Product.Price * item.Amount).ToMoney()</span>
      </div>

      <div class="group-btn_wrap d-grid gap-2">
        <a asp-controller="Cart" class="btn btn-secondary btn-primary-hover">Xem giỏ hàng</a>
        <a asp-controller="Checkout" class="btn btn-secondary btn-primary-hover">
          Thanh toán
        </a>
      </div>
    }
    else
    {
      <div>
        Để xem được Giỏ hàng, bạn cần
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Đăng nhập</a>
      </div>
    }
  </div>
</div>