@using Behapy.Presentation.Extensions
@model List<Behapy.Presentation.Models.CartItem>

@{
  ViewData["Title"] = "Cart";
  Layout = "~/Views/Shared/_Layout.cshtml";

  var total = Model.Sum(item => item.Product.Price * item.Amount);
  var promotionValue = ViewData["PromotionValue"] as decimal? ?? 0;
  var totalAfterPromotion = total - promotionValue;
}

<main class="main-content">
  <div class="cart-area section-space-y-axis-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form asp-action="Index">
            <div class="table-content table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="product_remove">STT</th>
                    <th class="product-thumbnail">Ảnh</th>
                    <th class="cart-product-name">Tên sản phẩm</th>
                    <th class="product-price">Đơn giá</th>
                    <th class="product-quantity">Số lượng</th>
                    <th class="product-subtotal">Thành tiền</th>
                    <th class="product-subtotal">Thao tác</th>
                  </tr>
                </thead>

                <tbody id="cart-table-content">
                  @for (var i = 0; i < Model.Count; i++)
                  {
                    var item = Model[i];

                    <tr>
                      <td class="index">@(i + 1)</td>
                      <td class="product-thumbnail">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                          <img src="@item.Product.ImageUrl" alt="@item.Product.Name"/>
                        </a>
                      </td>
                      <td class="product-name">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">@item.Product.Name</a>
                        <input type="hidden" name="Products[@i].Id" value="@item.ProductId">
                        <input type="hidden" name="Products[@i].Name" value="@item.Product.Name">
                      </td>
                      <td class="product-price">
                        <span class="amount">@item.Product.Price.ToMoney()</span>
                      </td>
                      <td class="quantity">
                        <div class="cart-plus-minus">
                          <input class="cart-plus-minus-box" value="@item.Amount" name="Products[@i].Amount" type="text"/>
                        </div>
                      </td>
                      <td class="product-subtotal">
                        <span class="amount">@((item.Amount * item.Product.Price).ToMoney())</span>
                      </td>
                      <td class="product_remove">
                        <a onclick="removeFromCart(@item.ProductId)" role="button">
                          <i class="pe-7s-close" title="Remove"></i>
                        </a>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
              <div class="col-12">
                <div class="coupon-all">
                  <div class="coupon">
                    <input class="input-text mr-3" name="Voucher" placeholder="Mã giảm giá" type="text" value="@ViewData["PromotionVoucher"]"/>
                    <input class="button" value="Cập nhật giỏ hàng" type="submit"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="cart-page-total">
                  <h2>Tổng tiền giỏ hàng</h2>
                  <ul>
                    <li>Tổng tiền <span id="cart-subtotal">@total.ToMoney()</span></li>
                    <li>Giảm giá <span>@promotionValue.ToMoney()</span></li>
                    <li>Tổng tiền sau khi giảm giá<span id="cart-total">@totalAfterPromotion.ToMoney()</span></li>
                  </ul>
                  <a asp-controller="Checkout" asp-action="Index" asp-route-promotionVoucher="">Thanh toán</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ms-4" style="padding-top: 30px">
                  <h2 style="font-size: 25px">Mã khuyến mãi</h2>
                  <ul style="list-style-type: disc">
                    @foreach (var promotion in (ViewData["Promotions"] as List<string>)!)
                    {
                      <li>@Html.Raw(promotion)</li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>