@using Behapy.Presentation.Extensions
@model Behapy.Presentation.Models.Product

@{
  ViewData["Title"] = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
  <div class="single-product-area section-space-top-100">
    <div class="container" style="margin-bottom: 50px;">
      <div class="row">
        <div class="col-lg-6">
          <div class="single-product-img h-100">
            <div class="swiper-container single-product-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="@Model.ImageUrl"
                     class="single-img gallery-popup">
                    <img class="img-full"
                         src="@Model.ImageUrl"
                         alt="Product Image"/>
                  </a>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-thumb-with-content row">
            <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
              <div class="single-product-content">
                <h2 class="title">@Model.Name</h2>
                <div class="price-box pb-1">
                  <span class="new-price text-danger">@Model.Price.ToMoney()</span>
                </div>
                <p class="short-desc mb-6">
                  @Model.Description
                </p>
                <ul class="quantity-with-btn pb-7">
                  <li class="quantity">
                    <div class="cart-plus-minus">
                      <input class="cart-plus-minus-box"
                             value="1"
                             type="text"/>
                    </div>
                  </li>
                  <li class="add-to-cart">
                    <a onclick="addToCart(@Model.Id)" class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0">
                      Add to cart
                    </a>
                  </li>
                </ul>
                <div class="product-category text-matterhorn pb-2">
                  <span class="title">Loại:</span>
                  <ul>
                    <li>
                      <a href="javascript:void(0)">@Model.Category?.Name</a>
                    </li>
                  </ul>
                </div>
                <div class="product-category text-matterhorn pb-4">
                  <span class="title">Còn trong kho:</span>
                  <ul>
                    <li>
                      <a href="javascript:void(0)">@Model.Amount</a>
                    </li>
                  </ul>
                </div>
                <div class="social-link align-items-center pb-lg-8">
                  <span class="title pe-3">Share:</span>
                  <ul>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fa fa-pinterest-p"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fa fa-tumblr"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="fa fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
              <div class="swiper-container single-product-thumbs">
                <div class="swiper-wrapper">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

@section Scripts {
  <script src="~/js/shop/cart.js"></script>
}