@model Behapy.Presentation.Models.Product

@{
  ViewData["Title"] = "Edit";
  Layout = "~/Views/Shared/Admin/_Layout.cshtml";

  var productPromotionsId = (ViewBag.ProductPromotionsId as MultiSelectList)?.SelectedValues;
}

<div class="main-content">
  <div class="page-header">
    <h2 class="header-title">Chỉnh sửa sản phẩm</h2>
    <div class="header-sub-title">
      <nav class="breadcrumb breadcrumb-dash">
        <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
        <a class="breadcrumb-item" asp-controller="Products" asp-action="Admin">Sản Phẩm</a>
        <span class="breadcrumb-item active">Chỉnh Sửa Sản Phẩm</span>
      </nav>
    </div>
  </div>
  <form asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="page-header no-gutters has-tab">
      <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
          <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
            <img src="@Model.ImageUrl" alt="">
          </div>
          <div class="m-l-15">
            <h4 class="m-b-0">@Model.Name</h4>
            <p class="text-muted m-b-0">Tạo lúc:@Model.CreatedAt</p>
          </div>
        </div>
        <div class="m-b-15">
          <button type="submit" class="btn btn-primary">
            <i class="anticon anticon-save"></i>
            <span>Lưu</span>
          </button>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin cơ bản</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#product-edit-option">Thông tin tùy chọn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#product-edit-description">Mô tả</a>
        </li>
      </ul>
    </div>
    <div class="tab-content m-t-15">
      <div class="tab-pane fade show active" id="product-edit-basic">
        <div class="card">
          <div class="card-body">
            <!-- Name -->
            <div class="form-group">
              <label asp-for="Name" class="font-weight-semibold"></label>
              <input asp-for="Name" class="form-control"/>
              <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Amount -->
            <div class="form-group">
              <label asp-for="Amount" class="font-weight-semibold"></label>
              <input asp-for="Amount" class="form-control"/>
              <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <!-- Price -->
            <div class="form-group">
              <div class="form-group">
                <label asp-for="Price" class="font-weight-semibold"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
              </div>
            </div>

            <!-- Discount -->
            <div class="form-group">
              <label asp-for="Discount" class="font-weight-semibold"></label>
              <input asp-for="Discount" class="form-control"/>
              <span asp-validation-for="Discount" class="text-danger"></span>
            </div>

            <!--Create at -->
            <div class="form-group">
              <label asp-for="CreatedAt" class="font-weight-semibold"></label>
              <input asp-for="CreatedAt" class="form-control"/>
              <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>

            <!-- Category -->
            <div class="form-group">
              <label asp-for="CategoryId" class="font-weight-semibold"></label>
              <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
              <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <!-- Is Active -->
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActive"/> @Html.DisplayNameFor(model => model.IsActive)
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="product-edit-option">
        <div class="card">
          <div class="card-body">
            <!-- Image -->
            <div class="form-group">
              <div class="custom-file">
                <label for="Image" class="custom-file-label">Chọn ảnh</label>
                <input id="Image" type="file" class="custom-file-input">

                <input asp-for="ImageUrl" class="d-none">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
              </div>

              <div class="input-progress" data-status="0">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="input-progress-result" id="ImageUrlResult"></div>
            </div>

            <!-- Promotion -->
            <div class="form-group">
              <label asp-for="ProductPromotionsId" class="font-weight-semibold"></label>
              <select asp-for="ProductPromotionsId" class="form-control select2" asp-items="ViewBag.ProductPromotionsId" 
                      multiple="multiple">
              </select>
              <span asp-validation-for="ProductPromotionsId" class="text-danger"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="product-edit-description">
        <div class="card">
          <div class="card-body">
            <div id="editor"></div>
            <input type="hidden" name="Description" asp-for="Description">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

@section Styles {
  <link href="~/js/admin/vendors/select2/select2.css" rel="stylesheet">
}

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }

  <!-- image kit -->
  <script type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>
  <script src="https://unpkg.com/imask"></script>
  <script src="~/js/admin/vendors/select2/select2.min.js"></script>

  <script>
      bindUploadEventToInputFile('#Image', '.input-progress', '@ViewBag.Token', '@ViewBag.Signature', '@ViewBag.Expire', 'Product');
  </script>

  <script>
      $('.select2')
        .select2()
        .val(@Html.Raw(Json.Serialize(productPromotionsId)))
        .change();
  
      const hiddenInput = document.getElementById('Description');
      const quill = new Quill('#editor', {
          theme: 'snow',
          placeholder: 'Mô tả',
      });

      // Đồng bộ dữ liệu từ trình soạn thảo Quill vào hidden input khi có sự thay đổi
      quill.on('text-change', function () {
          // Lấy nội dung văn bản có các thẻ HTML
          hiddenInput.value = quill.root.innerHTML;
      });

      // Đồng bộ dữ liệu từ hidden input vào trình soạn thảo Quill
      quill.root.innerHTML = hiddenInput.value;

      const numberMask = {
        mask: Number,
        scale: 2,
        thousandsSeparator: ',',
        radix: '.',
      }
    
      IMask(document.getElementById('Price'), numberMask);
      IMask(document.getElementById('Discount'), numberMask);
    </script>
}