@using Behapy.Presentation.Models
@using Behapy.Presentation.Extensions
@model List<Behapy.Presentation.Models.Product>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";

  var pager = new Pager();
  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
  }
}

<main class="main-content">
  <div class="shop-area section-space-y-axis-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Top bar -->
          <div class="product-topbar">
            <ul>
              <li class="product-view-wrap">
                <ul class="nav" role="tablist">
                  <li class="grid-view" role="presentation">
                    <a class="active"
                       id="grid-view-tab"
                       data-bs-toggle="tab"
                       href="#grid-view"
                       role="tab"
                       aria-selected="true">
                      <i class="fa fa-th"></i>
                    </a>
                  </li>
                  <li class="list-view" role="presentation">
                    <a id="list-view-tab"
                       data-bs-toggle="tab"
                       href="#list-view"
                       role="tab"
                       aria-selected="true">
                      <i class="fa fa-th-list"></i>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="page-count">
                <span>@ViewBag.CategoryProductCount</span> Sản phẩm trong <span>@ViewBag.TotalProducts</span>
              </li>
              <li class="short">
                <form asp-controller="Products" method="get">
                  <select class="nice-select wide rounded-0" id="sort-select" name="sortOrder" onchange="onFilterChange()">
                    <option value="" selected>-- Tất cả --</option>
                    <option value="latest" selected='@(ViewBag.SortOrder == "latest")'>Mới nhất</option>
                    <option value="high-price" selected='@(ViewBag.SortOrder == "high-price")'>Giá giảm dần</option>
                    <option value="low-price" selected='@(ViewBag.SortOrder == "low-price")'>Giá tăng dần</option>
                  </select>
                </form>
              </li>
            </ul>
          </div>

          <!-- Content -->
          <div class="tab-content text-charcoal pt-8">
            <!-- Short list-->
            <div class="tab-pane fade show active"
                 id="grid-view"
                 role="tabpanel"
                 aria-labelledby="grid-view-tab">
              <div class="product-grid-view row">

                @for (var i = 0; i < Model.Count; i++)
                {
                  var item = Model[i];
                  var pt6 = i != 0 ? "pt-6" : "";
                  var ptsm0 = i == 1 ? "pt-sm-0" : "";
                  var ptlg0 = i is 2 or 3 ? "pt-lg-0" : "";


                  <div class="col-lg-3 col-sm-6 @pt6 @ptsm0 @ptlg0">
                    <div class="product-item">
                      <div class="product-img img-zoom-effect">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                          <img class="img-full" src="@item.ImageUrl" alt="@item.Name"/>
                        </a>
                        <div class="product-add-action">
                          <ul>
                            <li>
                              <a onclick="addToCart(@item.Id)" role="button">
                                <i class="pe-7s-cart"></i>
                              </a>
                            </li>
                            <li>
                              <a href="wishlist.html" role="button">
                                <i class="pe-7s-like"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="product-content">
                        <a class="product-name" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                        <div class="price-box pb-1">
                          <span class="new-price">@item.Price.ToMoney()</span>
                        </div>
                        <div class="rating-box">
                          <ul>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                }

              </div>
            </div>

            <!-- Long list -->
            <div class="tab-pane fade"
                 id="list-view"
                 role="tabpanel"
                 aria-labelledby="list-view-tab">
              <div class="product-list-view row">

                @for (var i = 0; i < Model.Count; i++)
                {
                  var item = Model[i];
                  var pt6 = i != 0 ? "pt-6" : "";
                  <div class="col-12 @pt6">
                    <div class="product-item">
                      <div class="product-img img-zoom-effect">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                          <img class="img-full" src="@item.ImageUrl" alt="@item.Name"/>
                        </a>
                        <div class="product-add-action">
                          <ul>
                            <li>
                              <a onclick="addToCart(@item.Id)" role="button">
                                <i class="pe-7s-cart"></i>
                              </a>
                            </li>
                            <li>
                              <a href="wishlist.html" role="button">
                                <i class="pe-7s-like"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="product-content align-self-center">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="product-name pb-2">
                          @item.Name
                        </a>
                        <div class="price-box pb-1">
                          <span class="new-price">@item.Price.ToMoney()</span>
                        </div>
                        <div class="rating-box pb-2">
                          <ul>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                            <li>
                              <i class="pe-7s-star"></i>
                            </li>
                          </ul>
                        </div>
                        <p class="short-desc mb-0">
                          @item.Description
                        </p>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <div class="pagination-area pt-10">
            <nav aria-label="Page navigation example">
              @if (pager.TotalPages > 0)
              {
                <ul class="pagination justify-content-center">
                  @if (pager.CurrentPage > 1)
                  {
                    <li class="page-item">
                      <a class="page-link" asp-controller="Products" asp-route-pg="1" asp-route-categoryId="@ViewData["CategoryId"]" asp-route-sortOrder="@ViewData["SortOrder"]" asp-route-searchText="@ViewData["SearchText"]">Đầu</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" asp-controller="Products" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-categoryId="@ViewData["CategoryId"]" asp-route-sortOrder="@ViewData["SortOrder"]" asp-route-searchText="@ViewData["SearchText"]" aria-label="Trước">
                        <span class="fa fa-chevron-left"></span>
                      </a>
                    </li>
                  }

                  @for (var p = pager.StartPage; p <= pager.EndPage; p++)
                  {
                    <li class="page-item @(p == pager.CurrentPage ? "active" : "")">
                      @{ var pge = p; }
                      <a class="page-link" asp-controller="Products" asp-route-pg="@pge" asp-route-categoryId="@ViewData["CategoryId"]" asp-route-sortOrder="@ViewData["SortOrder"]" asp-route-searchText="@ViewData["SearchText"]">@pge</a>
                    </li>
                  }

                  @if (pager.CurrentPage < pager.TotalPages)
                  {
                    <li class="page-item">
                      <a class="page-link" asp-controller="Products" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-categoryId="@ViewData["CategoryId"]" asp-route-sortOrder="@ViewData["SortOrder"]" asp-route-searchText="@ViewData["SearchText"]" aria-label="Previous">
                        <span class="fa fa-chevron-right"></span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" asp-controller="Products" asp-route-pg="@pager.EndPage" asp-route-categoryId="@ViewData["CategoryId"]" asp-route-sortOrder="@ViewData["SortOrder"]" asp-route-searchText="@ViewData["SearchText"]">Cuối</a>
                    </li>
                  }
                </ul>
              }

            </nav>
          </div>
          <!-- Pagination end -->

        </div>
      </div>
    </div>
  </div>
</main>

@section Scripts {
  <script>
        function addToCart(productId) {
            $.ajax({
                url: `Cart/Add?productId=${productId}`,
                type: 'POST',
                contentType: 'application/json',
                success: function () {
                    bootstrap.showToast({
                        body: 'Đã thêm sản phẩm vào giỏ hàng!',
                        zIndex: 999
                    });
                    updateMiniCart();
                },
            });
        }

        function updateMiniCart() {
            $.ajax({
                url: `Cart/GetAll/`,
                type: 'GET',
                contentType: 'application/json',
                success: function (res) {
                    const listWrapper = $('.minicart-list').html('');

                    for (const item of res) {
                        const itemHtml = $('<li class="minicart-product"></li>');
                        const removeBtn = $(`
                          <a class="product-item_remove" href="#">
                            <i class="pe-7s-close"></i>
                          </a>
                        `);
                        const img = `
                          <a href="/Products/Details/${item.product.id}" class="product-item_img">
                            <img class="img-full" src="${item.product.imageUrl}" alt="${item.product.name}"/>
                          </a>
                        `;
                        const content = `
                          <div class="product-item_content">
                            <a href="/Products/Details/${item.product.id}" class="product-item_title">${item.product.name}</a>
                            <span class="product-item_quantity">${item.amount} x ${item.product.price}</span>
                          </div>
                        `;

                        itemHtml.append(removeBtn)
                            .append(img)
                            .append(content);

                        listWrapper.append(itemHtml);
                    }
                },
            });
        }

        //Sort product
        const selectElement = document.getElementById("sort-select");

        function onFilterChange() {
            const selectedValue = selectElement.value;
            const currentUrl = window.location.href;
            window.location.href = updateQueryStringParameter(currentUrl, 'sortOrder', selectedValue);
        }

        function updateQueryStringParameter(uri, key, value) {
            const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            const separator = uri.indexOf("?") !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            } else {
                return uri + separator + key + "=" + value;
            }
        }

    </script>
}