<!-- Side Nav START -->
<div class="side-nav">
	<div class="side-nav-inner">
		<ul class="side-nav-menu scrollable">
			<li class="nav-item dropdown active" data-key="Dashboard">
				<a class="dropdown-toggle" href="@Url.Action("Index", "Dashboard")">
					<span class="icon-holder">
						<i class="anticon anticon-bar-chart"></i>
					</span>
					<span class="title">Thống kê</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Product">
				<a class="dropdown-toggle" href="@Url.Action("Admin", "Products")">
					<span class="icon-holder">
						<i class="anticon anticon-shopping"></i>
					</span>
					<span class="title">Quản lý sản phẩm</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Employee">
				<a class="dropdown-toggle" href="@Url.Action("Index", "Employees")">
					<span class="icon-holder">
						<i class="anticon anticon-idcard"></i>
					</span>
					<span class="title">Quản lý nhân viên</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Distributor">
				<a class="dropdown-toggle" asp-controller="Distributors" asp-action="Index" >
					<span class="icon-holder">
						<i class="anticon anticon-shop"></i>
					</span>
					<span class="title">Quản lý đối tác</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Customer">
				<a asp-controller="Customers" asp-action="Index" >
					<span class="icon-holder">
						<i class="anticon anticon-form"></i>
					</span>
					<span class="title">Quản lý khách hàng</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Order">
				<a class="dropdown-toggle" href="@Url.Action("Admin", "Orders")">
					<span class="icon-holder">
						<i class="anticon anticon-shopping"></i>
					</span>
					<span class="title">Đơn hàng</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Promotion">
				<a class="dropdown-toggle" href="@Url.Action("Index", "Promotions")">
					<span class="icon-holder">
						<i class="anticon anticon-gift"></i>
					</span>
					<span class="title">Mã giảm giá</span>
				</a>
			</li>
			<li class="nav-item dropdown" data-key="Social" >
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-file"></i>
					</span>
					<span class="title">Đăng bài all in one</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Side Nav END -->

@* <script>
	document.addEventListener("DOMContentLoaded", function () {
		console.log("Script executed!");

		const dropdownItems2 = document.querySelectorAll('.side-nav-menu .nav-item.dropdown[data-key]');
		const linkItems2 = [...dropdownItems2];

		console.log(dropdownItems2);
		console.log(linkItems2);

		// Check the state saved in sessionStorage for dropdown-items
		linkItems2.forEach(function (item) {
			const isActive = sessionStorage.getItem(item.getAttribute('data-key'));
			if (isActive === 'true') {
				item.classList.add('active');
			}
		});

		console.log(sessionStorage);
		// Add click event for each dropdown-item
		linkItems2.forEach(function (item) {
			item.addEventListener('click', function () {
				// Save state to sessionStorage
				const isActive = item.classList.contains('active');

				// Remove storage state for all other li elements
				linkItems2.forEach(function (dropdownItem) {
					if (dropdownItem !== item) {
						sessionStorage.removeItem(dropdownItem.getAttribute('data-key'));
						dropdownItem.classList.remove('active');
					}
				});

				// Add or remove storage state and class "active" for the current li element
				if (!isActive) {
					sessionStorage.setItem(item.getAttribute('data-key'), 'true');
					item.classList.add('active');
				} else {
					sessionStorage.removeItem(item.getAttribute('data-key'));
					item.classList.remove('active');
				}
			});
		});
	});
	console.log("Script executed!");
</script> *@